@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  background-color:black;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}
.filters {
  background-color: transparent;
  backdrop-filter: blur(30px);
  animation-name: ramesh;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes ramesh {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
